h1,h2,h3,h4,h5,h6{
    color:red;
    background-color:blue;
    width:15%;
    text-align:center;
    padding:20px;
    display:inline-block;
    border:2px solid red;
    border-radius:0px 40px;
    margin:20px;
    box-shadow:0px 0px 20px black;
}

