p{
    border:1px solid red;
    width:25%;
    padding:20px;
    margin:20px;
    display:inline-block;
    border-radius: 30px;
    text-align: justify;
    font-family: monospace;
    color:white;
    box-shadow: 0px 0px 30px;
}
.c1{
    background: linear-gradient(90deg,green,red);
}
#id1{
    background: linear-gradient(45deg,yellow,blue);
}
.c2{
    background: linear-gradient(180deg,orange,black);
}